<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">
    <img src="../assets/img/city.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Urbanite
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav  mx-auto">
      <a class="nav-item nav-link" href="/home#home">Home</a>
      <a class="nav-item nav-link" href="/home#about">About</a>
      <a class="nav-item nav-link" href="/home#cities">Cities</a>
      <a class="nav-item nav-link" href="/home#list">My List</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Urbanite</small>
  </div>
</footer>