.search{
    position: absolute;
    top: 50%;
    left: 35%;
    width: 700px;
}

.ab_dum{
    margin-bottom: 7rem;
    height: 30px;
}

.about{
    margin-left: 8rem;
    font-size: 4rem;
}

img{
    grid-column-start: 3;
    margin: 2px;
}

.about_content{
    position: relative;
    word-wrap: break-word;
    width: 400px;
    left: 45%;
    top:5%;

}

* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgba(12, 53, 235, 0.863);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }